
@{
    ViewBag.Title = "displayAndSaveFunc";
}



<html>
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <canvas id="myCanvas" style="width:100%; height:100%"></canvas>
    <script>
        window.onbeforeunload = function () {
            $.post("@Url.Action("disconnect")");
        };
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        var oldLon = -1;
        var oldLat = -1;

        var IntervalTime = @Session["time"] * 1000
        var whenToStop = @Session["range"] * 1000
        myTimer = (function () {
        $.post( "@Url.Action("GetValues")").done(function (xml) {
            var xmlDoc = $.parseXML(xml),
                $xml = $(xmlDoc);

            lon = $xml.find( "Lon" ).text();
            lat = $xml.find("Lat").text();
            throttle = $xml.find( "Throttle" ).text();
            rudder = $xml.find("Rudder").text();
            lon = parseFloat(lon);
            lat = parseFloat(lat);
            throttle = parseFloat(throttle);
            rudder = parseFloat(rudder);
            var newLat = (lat - 90) * (canvas.height / -180);
            var newLon = (lon + 180) * (canvas.width / 360);
            if (oldLon == -1 && oldLat == -1) {
                ctx.beginPath();
                ctx.arc(newLon, newLat, 5, 0, 2 * Math.PI);
                ctx.fillStyle = "red";
                ctx.fill();
                ctx.stroke();
                ctx.closePath();
                oldLon = newLon;
                oldLat = newLat;
            } else {
                ctx.moveTo(oldLon, oldLat);
                ctx.lineTo(newLon, newLat);
                ctx.strokeStyle = "red";
                ctx.stroke();
                oldLon = newLon;
                oldLat = newLat;
            }
        });
    });

        stop = (function () {
        clearInterval(interval)
        });
    setTimeout(stop, whenToStop);
    var interval = setInterval(myTimer, IntervalTime);
    myTimer();


    </script>
</body>
</html>